<section class="150k-section">
  <p>
    I learned many things on the way to making $500k/y, things that every developer turned agency founder should know
    and have in the their tool belt.
  </p>

  <p>
    It took me a long time to realize that being good at selling is really just having the thick skin to repeatedly try
    new ways to become a more likeable person, while being repeatedly told no.
  </p>

  <p>
    I spent hundreds of hours over 3 months, 120 interviews, and a decade and half of my agency and software development
    experience to create the
    <strong>Practical guide to building a $500K/Year Solo Dev Agency</strong>
    playbook.
  </p>
  <p>Join 400 readers and agency owners who've used my playbook to boost their existing revenue.</p>

  <button id="btn-primary" class="btn-primary">Learn more</button>
</section>

<script>
  document.getElementById('btn-primary').addEventListener('click', function () {
    if (typeof gtag !== 'undefined') {
      gtag('event', 'click', {
        event_category: '500k',
        event_label: '{{ page.title }}',
      });
    }
    window.location.href = 'https://500k.agency';
  });
</script>
