<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <div class="help">Need help?&nbsp;Email <a href="#" class="link">paul@spacestationlabs.ltd</a></div>
      </div>
      <div class="footer-col footer-col-1">
        <div class="help" style="display: flex; flex-direction: column;">
          <span>Designed with ❤️ by</span><span><a href="https://www.formfactor.design/">Formfactor.design</a></span>
        </div>
      </div>
    </div>
  </div>
</footer>
