---
---

// Import partials.
@import "minima", "minima/base", "minima/layout", "minima/syntax-highlighting";

$brand-color: #d70466;
$brand-fg-color: #fff;
$on-tablet: 990px !default;

/* Light mode */
@media (prefers-color-scheme: light) {
  h1,
  h2,
  h3,
  p {
    color: black;
  }

  body {
    color: black;
    background-color: white;
  }

  table tr:nth-child(even) {
    background-color: unset;
  }

  .hero {
    background-image: linear-gradient(to top, #fff, #ebe9ef);
  }

  .reviews {
    color: #000;
  }

  .plan-inner {
    border: 1px solid #e5e7eb;
    background-color: #e1e1e1;
    background-image: linear-gradient(to top, #fff, #ebe9ef);
  }

  .testm {
    border: 1px solid rgba(0, 0, 0, 0.18);
  }

  .author {
    color: rgba(0, 0, 0, 0.44);
    margin-top: 0.75rem;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  p {
    color: #fff;
  }

  body {
    color: #fff;
    background-color: #000;
  }

  table tr:nth-child(even) {
    background-color: unset;
  }

  .hero {
    background-image: linear-gradient(to top, #000, #1c1a22);
  }

  .senja-embed .text-sm {
    color: #fff !important;
  }

  .reviews {
    color: #fff;
  }

  .plan-inner {
    background-color: #1a1821;
    background-image: linear-gradient(316deg, #000, #1a1821);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .testm {
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .author {
    color: rgba(255, 255, 255, 0.44);
    margin-top: 0.75rem;
  }
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  @include media-query($on-laptop) {
    font-size: 3rem;
  }
}

div {
  box-sizing: border-box;
}

.senja-embed {
  margin: 1rem 0 1.5rem 0;
}

.page-content {
  padding: 0;
}

.wrapper {
  padding-left: unset;
  padding-right: unset;
  max-width: 100%;
}

.site-header {
  display: none;
}

.site-footer {
  .wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-list {
  }
}

.site-title {
  color: #fff !important;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow: hidden;
  padding: 120px 5% 120px;

  @include media-query($on-palm) {
    padding: 50px 5% 75px;
  }
}

.avatar-container {
  img.floating-avatar {
    object-fit: cover;
    border-radius: 9999px;
    border: 2px solid #fff;
  }
}

.section {
  padding-bottom: 150px;
  padding-left: 5%;
  padding-right: 5%;

  h2 {
    font-size: 3rem;
    font-weight: 600;

    @include media-query($on-laptop) {
      font-size: 2rem;
    }
  }

  .heading {
    max-width: 720px;

    @include media-query($on-palm) {
      max-width: 100%;
    }
  }

  .plan {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    font-size: 18px;

    @include media-query($on-palm) {
      // padding: 2rem;
    }
  }

  div.plan-inner {
    display: flex;
    border-radius: 2rem;
    overflow: hidden;

    @include media-query($on-palm) {
      flex-direction: column;
    }
  }

  div.plan-pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: $brand-color;
    color: $brand-fg-color;
    padding: 3rem 2rem;
    width: 240px;

    @include media-query($on-palm) {
      padding: 32px 20px 20px 20px;
      width: 100%;
      align-items: flex-start;
    }
  }

  span.plan-pricing {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;

    @include media-query($on-laptop) {
      font-size: 2rem;
    }
  }

  .plan-name {
    span {
    }
  }

  .plan-features {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;

    @include media-query($on-palm) {
      padding: 20px;
      h2 {
        margin-top: 15px;
      }
    }
  }

  .plan-feature-items {
    margin: 1.125rem 0;
    text-align: center;
    line-height: 1.75rem;

    @include media-query($on-palm) {
      font-size: 0.9rem;
      line-height: 1.5rem;
    }

    div.item-title {
      display: flex;
      gap: 10px;
      align-items: center;
      @include media-query($on-palm) {
        font-size: 1.125rem;
        div {
          text-align: start;
        }
      }
    }

    div.item-subtitle {
      p {
        text-align: start;
        color: #9aa4b1;
        font-size: 0.9rem;
        margin-bottom: 12px;
      }
    }

    svg {
      fill: $brand-color;
    }
  }

  .refund {
    border-top: 1px solid rgba(255, 255, 255, 0.21);
    width: 100%;
  }
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.container-split {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  @include media-query($on-palm) {
    flex-direction: column;
  }
}

.container-v {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-query($on-palm) {
    flex-direction: column;
  }
}

.aboutme {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;

  @include media-query($on-palm) {
    width: 100%;
    flex-direction: column;
  }
}

.mugshot {
  width: 16rem;
  border-radius: 100%;
  border-color: #fff;
  border-style: solid;
  border-width: 4px;
  margin: 1rem 2rem;
  overflow: hidden;

  @include media-query($on-palm) {
    width: 8rem;
  }
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container-lesson {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include media-query($on-palm) {
    flex-direction: column;
  }

  ul,
  ol {
    margin-left: 0;
  }
}

.chapter-item {
  list-style-type: none;
  font-size: 1.5rem;
  padding: 10px 0;
  margin: 0;

  @include media-query($on-palm) {
    font-size: 1rem;
  }
}

.hlite {
  color: #fff;
  background-color: $brand-color;
}

a {
  color: $brand-color !important;
  text-decoration: underline !important;
  :hover {
    color: $brand-color !important;
  }
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.testm {
  width: 48%;
  border-radius: 1rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-query($on-tablet) {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .screenshot {
      min-height: 400px !important;
    }
  }
}

.nopadding {
  border: unset !important;
  padding: 0;
}

.author {
  margin-top: 0.75rem;
}

.testwrap {
  display: flex;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-wrap: wrap;
}

.help {
  text-align: center;
  margin-top: 2rem;
}

.reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
  cursor: pointer;
  padding: 26px 0;
}

.btn-read-now {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 16px;
  border: none;
  color: $brand-color;
  background-color: $brand-fg-color;

  &:focus,
  &:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }

  @include media-query($on-palm) {
    padding: 18px 20px;
    width: 100%;

    -webkit-transform: shake;
    transform: shake;
    animation-name: shake;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
  }

  @-webkit-keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(1deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
}

.btn-primary {
  color: $brand-fg-color;
  background-color: $brand-color;
  font-size: 24px;
  line-height: 20px;
  font-weight: 600;
  padding: 28px 32px 24px;
}

#btn-dm {
  &:focus,
  &:hover {
    opacity: 0.8;
  }
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: #4f545c;
  transition:
    background-color 0.17s ease,
    color 0.17s ease;
  margin: 0 8px;
}

.pretitle {
  font-size: 2rem;
  margin-top: 1rem;
}
