---
---

// Import partials.
@import "minima", "minima/base", "minima/layout", "minima/syntax-highlighting";
@import "animations";

$brand-color: #4a99ea;
$brand-fg-color: #010101;
$on-tablet: 990px !default;

@font-face {
  font-family: "Geist";
  src:
    url("/assets/fonts/GeistVF.woff2") format("woff2"),
    url("/assets/fonts/GeistVF.woff") format("woff");
  font-weight: "100 900";
}

body {
  font-family: "Geist";
}

div {
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  @include media-query($on-laptop) {
    font-size: 3rem;
  }
}

.section {
  padding-left: 5%;
  padding-right: 5%;

  h2 {
    font-size: 3rem;
    font-weight: 600;

    @include media-query($on-laptop) {
      font-size: 2rem;
    }
  }
}

.container {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  color: $brand-color !important;
  text-decoration: underline !important;
  :hover {
    color: $brand-color !important;
  }
}

.hero {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow: hidden;
  padding: 318px 5%;
  background-image: url("/assets/hero.png");
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    text-shadow: 0px 0px 16px rgba(255, 255, 255, 0.6);
    margin: 24px 0;
  }

  span.subtitle {
    display: block;
    max-width: 70%;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 48px;
  }

  @include media-query($on-palm) {
    padding: 50px 5% 75px;
  }
}

.starter-pack {
  padding: 9rem 0;

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    white-space: nowrap;
    margin-bottom: 9rem;
  }

  .bento {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    min-width: 1116px;
    min-height: 1116px;
    background-color: #fff;
    border-radius: 48px;
    padding: 24px;
    gap: 24px;
    box-shadow: 0px -4px 16px 0px rgba(0, 0, 0, 0.08);
  }

  .bento-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
    background-color: #eee;
    border-radius: 32px;
    overflow: hidden;
    cursor: pointer;
  }

  .bento-item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .bento-item.row13 {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .bento-item.col24 {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.testimonials {
  display: flex;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* for momentum scroll on mobile devices */
  padding: 20px;
  white-space: nowrap; /* Keeps items in a single line */
  margin: 0 -20px; /* Counteract padding */
  max-width: unset !important;

  --gap: 1rem;
  gap: var(--gap);
  user-select: none;
  overflow: hidden;

  .testimonial-item {
    /* display: flex;
     * align-items: center;
     * // flex: none; [> Prevents items from stretching <]
     * margin-right: 20px;
     * width: 500px; [> Set a fixed width for each testimonial <]
     * height: auto; */

    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
  }

  .testimonial-item img {
    width: 100%;
    height: auto;
    display: block; /* Removes bottom margin/gap */
    border-radius: 10px; /* Optional: for styled corners */
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Adds padding at the start and end of the container to allow first and last item centering */
.testimonials::before,
.testimonials::after {
  content: "";
  width: 40%;
  flex: 0 0 auto;
}

/* Optional: Hide scrollbar visually but allow functionality */
.testimonials::-webkit-scrollbar {
  display: none;
}

.site-header {
  display: none;
}

.site-footer {
  .wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-list {
  }
}

.site-title {
  color: #fff !important;
}

.help {
  text-align: center;
  margin-top: 2rem;
}

.btn-read-now {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 16px;
  border: none;
  color: $brand-color;
  background-color: $brand-fg-color;

  &:focus,
  &:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }

  @include media-query($on-palm) {
    padding: 18px 20px;
    width: 100%;

    -webkit-transform: shake;
    transform: shake;
    animation-name: shake;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
  }

  @-webkit-keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(1deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
}

.btn-primary {
  color: #fff;
  background-color: $brand-color;
  font-size: 24px;
  font-weight: 600;
  padding: 16px 48px;
  margin: 48px 0;
}

#btn-dm {
  &:focus,
  &:hover {
    opacity: 0.8;
  }
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: #4f545c;
  transition:
    background-color 0.17s ease,
    color 0.17s ease;
  margin: 0 8px;
}

.pretitle {
  font-size: 2rem;
  margin-top: 1rem;
}
